.input:not(:placeholder-shown) ~ .search{
    color: rgba(22, 24, 35, 0.75);
        
    }
    .input_tag{
        margin-left: 165px;
        
    }
    .input_tag:focus-within{
    border: 1px solid gray;
    }
    .input_tag:focus-within  .search{
    outline: none;
    }
    
    .box-search-result{
        width: 415px;
     }
    .acount{
        height: 30px;
        padding: 5px 12px;
        font-size: 14px;
        line-height: 20px;
        font-weight: 600;
        color: rgba(22, 24, 35, 0.5);
    }
    .clears{
       color:  rgba(22, 24, 35, .34)
    }
    .loading{
        animation: spinner 0.6s linear infinite;
    }
    @keyframes spinner{
        from{
        transform: translateY(-50%) rotate(0);
        }
        to{
        transform:translateY(-50%) rotate(360deg);
        }
    }